<!DOCTYPE html>
<html lang="en">
<head>
    <title>Programas Médicos del Servicio Médico de la Caja de Abogados de la Provincia de Córdoba</title>
    <link href="./css/styleprog.css" rel="stylesheet" type="text/css">
    <%-include('../partials/head.ejs')%> 
</head>
<body>
    <main>
        <%-include('../partials/progpral.ejs')%>
    </main>
    <footer>
        <%-include('../partials/volver.ejs')%>
    </footer>
    <%-include('../partials/boot.ejs')%>
</body>
</html>