<div class="cabeza">
    <div class="cabezalogo">
        <img class="img-fluid logo" src="img/Logo Servicio de Salud.png" alt="Logo Caja de Abogados Córdoba">
    </div>
    <div class="cabezainfo">
        <header>
            <h1 class="titulo text-center">
                Servicio Solidario de Salud de la Caja de<br>
                Previsión y Seguridad Social de Abogados<br>
                y Procuradores de la Provincia de Córdoba</h1> 
        </header>
    </div>
    <div class="cabezacont">
        <div class="cabcont cabcont1">
            <a target="_blank" href="https://www.facebook.com/Caja-de-Previsi%C3%B3n-y-Seguridad-Social-de-Abogados-y-Procuradores-de-Cba-314961018640471/">
                <img class="img-fluid contimg" src="img/Facebook.png" alt="Logo Facebook">
            </a>
        </div>
        <div class="cabcont cabcont2">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=+5493515284546">
                <img class="img-fluid contimg" src="img/WhatsApp.png" alt="Logo WhatsApp">
            </a>
        </div>
        <div class="cabcont cabcont3">
            <a target="_blank" href="https://www.linkedin.com/company/caja-de-previsi%C3%B3n-y-seguridad-social-de-abogados-de-la-provincia-de-c%C3%B3rdoba/">
                <img class="img-fluid contimg" src="img/LinkedIn.png" alt="Logo WhatsApp">
            </a>
        </div>
        <div class="cabcont cabcont4">
            <a target="_blank" href="https://goo.gl/maps/KdBi8JqL2KP5fE1G6">
                <img class="img-fluid contimg" src="img/Maps.jfif" alt="Logo WhatsApp">
            </a>
        </div>
    </div>
</div>