<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>              
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropup">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Institucional
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item disabled" href="#">Ley 8404</a></li>
                <li><a class="dropdown-item disabled" href="#">Autoridades</a></li>
                <li><a class="dropdown-item disabled" href="#">Memorias y Balances</a></li>
                <li><a class="dropdown-item disabled" href="#">Reglamento Servicio Médico</a></li>
            </ul>
            </li>
            <li class="nav-item dropup">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Público
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item disabled" href="#">Beneficios del Afiliado</a></li>
                <li><a class="dropdown-item disabled" href="#">Instructivo de Afiliación</a></li>
            </ul>
            </li>
            <li class="nav-item dropup">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Afiliados
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/prestadores">Prestadores</a></li>
                <li><a class="dropdown-item disabled" href="#">Farmacias</a></li>
                <li><a class="dropdown-item disabled" href="#">Vademecum</a></li>
                <li><a class="dropdown-item" href="/programas">Programas Médicos</a></li>
                <li><a class="dropdown-item disabled" href="#">Autorizaciones</a></li>
                <li><a class="dropdown-item disabled" href="#">Mi Información</a></li>
                <li><a class="dropdown-item" href="/preguntas">Preguntas Frecuentes</a></li>
            </ul>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Prestadores</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Personal</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Autoridades</a>
            </li>
        </ul>
        </div>
    </div>
</nav>