<div class="pie">
    <div class="pieizq">
      <section>          
        <a target="_blank" href="https://goo.gl/maps/KdBi8JqL2KP5fE1G6">27 de Abril 842, Córdoba, Argentina</a><br>
        Horario de Atención al Público:<br>
        Lunes a Viernes 8:00 hs. a 13:30 hs.<br>
      </section>
    </div>
    <div class="pieder">
      <section>    
        Teléfonos <a href="tel:3517443829">351 7443829</a> ó <a href="tel:3515734587">351 5734587</a><br>
        Email: <a href="mailto:serviciomedico@caja-abogados.com.ar">serviciomedico@caja-abogados.com.ar</a><br>
        Autorizaciones por Whatsapp al <a target="_blank" href="https://api.whatsapp.com/send?phone=+5493515284546">351 5284546</a><br>
      </section>
    </div>          
  </div>