<div class="accordion preg" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ¿Quiénes pueden afiliarse?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Podrán asociarse al Servicio de Salud, todos los Abogados y Procuradores, cónyuge e hijos,
            solteros o casados, y otros familiares hasta el tercer grado de consanguinidad o segundo
            grado de afinidad del titular. Edad límite 65 años.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿Qué necesito para afiliarme?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <ul>
                <li>Formulario de solicitud de afiliación y declaración jurada para el Servicio Médico,
                    los  cuales deberán ser completados y firmados por el /la abogado/a titular.</li>
                <li>Formulario de declaración jurada de antecedentes de salud. Se debe completar y
                    presentar uno por cada persona que solicita la afiliación.</li>
                <li>Estar al día o en Plan de Pagos al día con la deuda a la Caja, en concepto de
                    aportes y mensualidad.</li>
                <li>En todos los casos se deberá acreditar el vínculo correspondiente acompañando las
                    actas de matrimonio y nacimiento (o libreta de familia en el caso). Se deben
                    presentar los originales y las copias respectivas, para su certificación. En el
                    caso de convivencia presentar fotocopia del DNI del conviviente más certificado
                    de convivencia.</li>
            </ul>                
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          ¿Tengo que pasar por un examen médico?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Los interesados mayores de 49 años deberán someterse a un examen médico a su cargo, el que
            se realizará en los establecimientos o con los profesionales que indique la Caja. El examen
            médico también resultará obligatorio para los menores de 49 años cuando Auditoría médica lo
            considere necesario en virtud de los datos surgidos de la declaración jurada de salud.
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            ¿Cómo puedo abonar?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
                <li>En Banco Provincia de Córdoba, en efectivo (sistema pago s/ boleto).</li>
                <li>En Caja de Abogados:</li>
                    <ul>
                        <li>Efectivo</li>
                        <li>Tarjeta de Crédito (en 1 pago) Tarjetas: Visa, Mastercard, Cordobesa.</li>
                        <li>Tarjeta de Débito.</li>
                        <li>Débitos Automáticos (mensuales) Tarjetas: Visa, Naranja, Naranja Visa, Mastercard, Cordobesa.</li>
                    </ul>
                <li>Pago Facil (imprimir cedulón desde la página Web).</li>
            </ul>
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            ¿En qué instituciones tengo cobertura?
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Conozca el listado de prestadores, haciendo <a href="#">click aquí</a>
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            ¿Qué cobertura obtengo una vez afiliado?
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table cellspacing="5" cellpadding="3">
                <tbody>
                    <tr>
                        <th>ORDENES</th>
                        <th>COBERTURA</th>
                    </tr>
                    <tr>
                        <td>CONSULTA</td>
                        <td>100%</td>
                    </tr>
                    <tr>
                        <td>MEDICAMENTOS</td>
                        <td>50%</td>
                    </tr>
                    <tr>
                        <td>PRACTICAS COMPLEMENTARIAS</td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <td>ODONTOLOGIA GENERAL</td>
                        <td>60%</td>
                    </tr>
                    <tr>
                        <td>ODONTOLOGIA ESPECIALIZADA</td>
                        <td>40%</td>
                    </tr>
                    <tr>
                        <td>INTERNACION CLINICA/QUIRURGICA/UTI</td>
                        <td>90%</td>
                    </tr>
                </tbody>
            </table>                
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            ¿Cómo hago para obtener órdenes?
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Se entregan (o retiran) en la sede de la Caja.
            Se pueden emitir desde la página web, haciendo click en el siguiente <a href="#">enlace</a>.
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingEight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            ¿Las prácticas requieren autorización?
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Sólo las de alta complejidad, las que tienen tope mensual y los laboratorios con más de 10 prácticas.
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingNine">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            Vías de autorización
          </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
                <li>Personalmente.</li>
                <li>Por correo electrónico a: <a href="mailto:serviciomedico@caja-abogados.com.ar">serviciomedico@caja-abogados.com.ar</a></li>
                <li>Por WhatsApp al: <a target="_blank" href="https://api.whatsapp.com/send?phone=+5493515284546">351 5284546</a></li>
                <li>Por fax al: <a href="tel:3514235900">4235900</a> interno 123.</li>
            </ul>
            Importante: En caso de realizar la autorización vía fax, mail o WhatsApp deberá presentar al prestador el pedido original más la copia autorizada que debe ser impresa por el afiliado (el prestador puede realizar la impresión pero no está obligado hacerla).                
          </div>
        </div>
    </div>         
</div>