<div class="ppal">
    <div class="ppalnoti">
        <section>
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>                                            
            </div>
            <div class="carousel-inner">
              <div class="carousel-item text-center active">
                <img src="./img/1.jpg" class="imgslide" alt="...">
                <div class="carousel-caption caja">
                  <h5 class="titulocaja">ATENCIÓN VIRTUAL</h5>
                  <p class="textcaja">
                    El Servicio Médico continuará brindando todas sus prestaciones de manera virtual,
                    tal como se ha llevado a cabo durante las distintas instancias de cuarentena.
                    Teléfono <a href="tel:3517443829">351 7443829</a> - Autorizacions por WhatsApp <a target="_blank" href="https://api.whatsapp.com/send?phone=+5493515284546">351 5284546</a> - Email <a href="mailto:serviciomedico@caja-abogados.com.ar">serviciomedico@caja-abogados.com.ar</a>
                  </p>
                </div>
              </div>
              <div class="carousel-item text-center">
                <img src="./img/2.jpg" class="imgslide" alt="...">
                <div class="carousel-caption caja">
                  <h5 class="titulocaja">ATENCIÓN PRESENCIAL</h5>
                  <p class="textcaja">
                    Recordamos a los afiliados que la Caja atiende con normalidad de manera presencial en su sede de <a target="_blank" href="https://goo.gl/maps/KdBi8JqL2KP5fE1G6">27 de Abril 842</a>, en el horario de 8:00 a 13:30 hs.
                  </p>
                </div>
              </div>
              <div class="carousel-item text-center">
                <img src="./img/3.jpg" class="imgslide" alt="...">
                <div class="carousel-caption caja">
                  <h5 class="titulocaja">PAGOS VIRTUALES</h5>
                  <p class="textcaja">
                    Si desea abonar su cuota del Servicio Médico en forma remota puede Transferir el importe informado
                    a nuestra Cuenta en el Banco de la Provincia de Córdoba, CBU 0200922701000006001329, Verificar Titular
                    CAJA PREV Y SEG DE ABOGADOS, finalmente enviar Comprobante y Datos Personales a nuestro <a href="mailto:serviciomedico@caja-abogados.com.ar">Email</a> o <a target="_blank" href="https://api.whatsapp.com/send?phone=+5493515284546">WhatsApp</a>.
                  </p>
                </div>
              </div>
              <div class="carousel-item text-center">
                <img src="./img/4.jpg" class="imgslide" alt="...">
                <div class="carousel-caption caja">
                  <h5 class="titulocaja">CONSULTA DE SALUD VIRTUAL</h5>
                  <p class="textcaja">
                    El Servicio de Salud informa que se han realizado convenios para la atención mediante consulta telefónica o por videollamada
                    con los siguientes prestadores: Hospital Privado, Sanatorio Allende, Hospital Italiano, Instituto Humana, Instituto Modelo de Cardiología,
                    Instituto Privado de Radioterapia y Clínica Universitaria Reina Fabiola. Estas consultas tienen la misma cobertura del 100% que la presencial.
                  </p>
                </div>
              </div>
              <div class="carousel-item text-center">
                <img src="./img/5.jpg" class="imgslide" alt="...">
                <div class="carousel-caption caja">
                  <h5 class="titulocaja">ATENCIÓN DURANTE CUARENTENA</h5>
                  <p class="textcaja">
                    El Servicio Médico informa que durante la Cuarenta extricta, todos nuestros colaboradores estarán trabajando de manera remota, respondiendo sus consultas, autorizaciones e inquietudes en el transcurso de las 24 horas, salvo real urgencia.
                    Se sugiere no concurrir a los centros asistenciales para consultas o realización de estudios de control mientras dure la emergencia sanitaria, para evitar el colapso del sistema de salud y dar lugar a que se atienda a los enfermos de coronavirus.
                  </p>
                </div>
              </div>
              <div class="carousel-item text-center">
                <img src="./img/6.jpg" class="imgslide" alt="...">
                <div class="carousel-caption caja">
                  <h5 class="titulocaja">ASISTENCIA GRATUITA EN VIAJES</h5>
                  <p class="textcaja">
                    Disponemos de numerosos beneficios para nuestros afiliados. Uno de ellos es el de Asistencia al Viajero,
                    que a través de un convenio con Universal Assistance permite a los afiliados de la institución estar
                    cubiertos en diferentes destinos y también extender el beneficio a su grupo familiar con un importante
                    descuento. Para mayor información comunicarse al <a href="tel:08002228565">0800-222-8565</a>.
                  </p>
                </div>
              </div>
              <div class="carousel-item text-center">
                <img src="./img/7.jpg" class="imgslide" alt="...">
                <div class="carousel-caption caja">
                  <h5 class="titulocaja">BENEFICIOS TURISMO</h5>
                  <p class="textcaja">
                    La Caja pone a tu disposición importantes descuentos en turismo y hotelería para que disfrutes al máximo tus escapadas y vacaciones.
                    <a href="" class="textcaja">Hoteles con convenio</a>
                    - 
                    <a href="" class="textcaja">Vuelos con descuento</a>
                  </p>
                </div>
              </div>                                                                                        
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>
    </div>
    <div class="ppalafil">
        <section>
          <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="5" aria-label="Slide 6"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="6" aria-label="Slide 7"></button>                                            
            </div>
            <div class="carousel-inner">
              <div class="carousel-item text-center active">
                <img src="./img/A.jpg" class="imgslide" alt="...">
                <div class="carousel-caption caja">
                  <h5 class="titulocaja">REGLAMENTO SERVICIO MÉDICO</h5>
                  <p class="textcaja">
                    Caja de Previsión y Seguridad Social de Abogados y Procuradores de la Provincia de Córdoba -
                    Reglamentación Interna del Servicio de Salud Solidario -
                    Aprobado por el Consejo de Administración- Acta 2517.2ºe – 10 de julio de 2013
                  </p>
                  <a href="" class="textcaja">Acceda al texto completo de nuestro Reglamento</a>
                </div>
              </div>
              <div class="carousel-item text-center">
                <img src="./img/B.jpg" class="imgslide" alt="...">
                <div class="carousel-caption caja">
                  <h5 class="titulocaja">INSTRUCTIVO DE AFILIACIÓN</h5>
                  <p class="textcaja">
                    AFILIACION AL SERVICIO MEDICO. Podrán asociarse al Servicio de Salud, todos los Abogados
                    y Procuradores, cónyuge e hijos, solteros o casados, y otros familiares hasta el tercer
                    grado de consanguinidad o segundo grado de afinidad del titular. Edad límite 65 años.
                    REQUISITOS A CUMPLIMENTAR...
                  </p>
                  <a href="" class="textcaja">Continuar leyendo...</a>
                </div>
              </div>
              <div class="carousel-item text-center">
                <img src="./img/C.jpg" class="imgslide" alt="...">
                <div class="carousel-caption caja">
                  <h5 class="titulocaja">PRESTADORES</h5>
                  <a href="" class="textcaja">Consulte aquí nuestros Prestadores</a>
                </div>
              </div>
              <div class="carousel-item text-center">
                <img src="./img/D.jpg" class="imgslide" alt="...">
                <div class="carousel-caption caja">
                  <h5 class="titulocaja">FARMACIAS</h5>
                  <a href="" class="textcaja">Consulte aquí las Farmacias adheridas</a>
                </div>
              </div>
              <div class="carousel-item text-center">
                <img src="./img/E.jpg" class="imgslide" alt="...">
                <div class="carousel-caption caja">
                  <h5 class="titulocaja">VADEMECUM</h5>
                  <a href="" class="textcaja">Consulte aquí los Medicamentos cubiertos</a>
                </div>
              </div>
              <div class="carousel-item text-center">
                <img src="./img/F.jpg" class="imgslide" alt="...">
                <div class="carousel-caption caja">
                  <h5 class="titulocaja">PROGRAMAS MÉDICOS</h5>
                  <a href="./programas.html" class="textcaja">Conozca nuestros Programas especiales</a>
                </div>
              </div>
              <div class="carousel-item text-center">
                <img src="./img/G.jpg" class="imgslide" alt="...">
                <div class="carousel-caption caja">
                  <h5 class="titulocaja">AUTORIZACIONES</h5>
                  <p class="textcaja">
                    Vías de autorización:<br>
                    Personalmente en la sede de la institución.<br>
                    Por Email: <a href="mailto:serviciomedico@caja-abogados.com.ar">serviciomedico@caja-abogados.com.ar</a>.<br>
                    Por WhatsApp al: 
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=+5493515284546">351 5284546</a>.<br>
                    Recuerde solicitar la autorización con una anticipación de 48 hs.
                  </p>
                </div>
              </div>                                                                                        
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>
    </div>
</div>